paramiko
pytest
playsound
fastapi
uvicorn
loguru
python-multipart
librosa
numpy
pyyaml
pydantic
TTS
whisper
faster-whisper
yt_dlp
torch==2.5.1
transformers==4.39.3

pyobject
libcairo2-dev
pkg-config 
python3-dev 
gir1.2-gtk-3.0
pygobject